{% extends 'index.html' %}

{% block title %}home{% endblock title %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registered Contact Details</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>SNo</th>
                        <th>Name</th>
                        <th>Mobile Number</th>
                        <th>Password</th>
                        <th>Repeat Password</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.phoneno}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.repassword}}</td>
                        <td>{{user.address}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock body %}